

.lblCalAll {
  margin: 10px;
  color: #fff;
  background-color: #3647a5;
  border-radius: 8px;
  padding: 5px;
  font-size: 18px;
  text-align: right;
  text-shadow: 1px 2px #000000;
  font-family: 'Roboto', sans-serif;
  width: 340px;
}
.lblCals80 {
  color: #000000;
  text-shadow: 1px 2px #ffffff;
  background-color: #b2ff00;
}
.lblCals55 {
  color: #fff;
  background-color: #fa00ff;
}
.lblCals30 {
  color: #fff;
  background-color: #00a1ff;
}
.lblCalD
.lblCalR
.lblCalA
.lblCalC
.lblCalH
  
.lblCalN {
  background-color: #161942;
}
.customInputText {
  font-size: 18px;
  border-style: solid;
  border-color: #ffffff;
  border-radius: 6px;
  text-align: center;
}
.infoPanel{
  
}
.panel {
  margin: 10px;
  color: #fff;
  padding: 5px;
  font-size: 18px;
  text-align: right;
  text-shadow: 1px 2px #000000;
  font-family: 'Roboto', sans-serif;
  width: 340px;
}